form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    min-width: 150px;

    mat-form-field {
        width: 100%;
    }

    #password-errors {
        height: 0;
        margin-bottom: 5rem;
    }

    button {
        width: 60%;
        margin: 0 20%;
    }
}