/* You can add global styles to this file, and also import other style files */

:root {
    $breakpoint: 600px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#app {
    margin: 0 auto;
    font-weight: normal;
}

.container>* {
    flex: 1 100%;
}